/********************RESET CSS********************************/
 
* {
    margin: 0;
    }
 
html {
 background-color: blueviolet;
}
body {
    background-color:  rgb(253, 234, 229);
    font-family: monospace;
}
   
/******************* ENCABEZADO *****************************/
.contenedorlista {
    width: auto;
    color: #5E2BFF;
    
    
    
}
   
ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: none;
}
   
 /************************** PORTADA ************************/
 .fotoportada {
        color: black;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .text1, .text2 {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 60px;
        color: #ED5945;
    }
        
    h3 {
        font-size: 20px;
    }
        
    #fondo {
        width: 100%;
    }
    a:link {
        color: #5E2BFF;
    }
   
/***********************SECCION 1: MISION **********************/
.Mision {
        background-color: purple;
    }
   
    .ima {
        
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20px;
        position: relative;

    }

    

   }
/************************SECCION 2: HISTORIA********************/
.Historia {
        background-color: green;
    }
   
/**********************SECCION 3: PROYECTOS*********************/
.Proyectos {
        background-color: orange;
    }
        .Proyecto1 {
            background-color: blue;
        }
        .Proyecto2 {
            background-color: blue;
        }
        
        .Proyecto3 {
            background-color: blue;
        }
   
/*******************SECCION 4: MIEMBROS*************************/
.Miembros {
        background-color: fuchsia;}
        .Maria {
            background-color: green;
        }
        .Laura {
            background-color: yellow;
        }
        .Marielle {
            background-color: fuchsia;
        }

/*****************FOOTER: TRABAJA CON NOSOTRAS*******************/
footer {
    background-color: blueviolet;
}

.trabaja {
    background-color: yellow;
}