/*RESET CSS*/

* {
    margin: 0;  
    }
    
    body {
     background-color: whitesmoke;
     /*font-family*/
    }
    
    /* ENCABEZADO */
    .contenedorlista {
      width: auto;
      background-color: pink;
    }
    
    ul  {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: none;}
    
    /* PORTADA */
    .fotoportada {
        background-color: aqua;
    }
    .text1 {
    display: flex:
      ;
    }
    .text2 {
    }
    
    /* MISION */
    
    .Mision {
        background-color: purple;
    }
        .mvv {
        }
    
    /*HISTORIA*/
    .Historia {
        background-color: green;
    }
    
    /*IDEA*/
    .Idea {
        background-color: blue;}
    
    
    /*PROYECTOS*/
    .Proyectos {
        background-color: orange;}
        .Proyecto1 {
        }
    
    
    /*MIEMBROS*/
    .Miembros {
        background-color: fuchsia;}
        .Maria {
        }
        .Laura {
        }
        .Marielle {
        }